.equivalent-date {
    font-size: 0.85em;
    color: #888;
    margin-top: 0px;
    padding-top: 0px;
    line-height: 1.2;
}

.frappe-control .equivalent-date {
    margin: -16px 0 0 4px;
    padding: 0 0 4px 2px;
    font-size: 0.85em;
    line-height: 1.2;
    color: #888;
}

.static-input .equivalent-date {
    margin-top: -8px;
}

.grid-static-form .equivalent-date {
    margin-top: 2px;
}

.grid-body .equivalent-date {
    margin-top: 2px;
}
